@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla:wght@700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
}

/*=============== BASE ===============*/

.main-body{
  background-color: #0B2434;
  padding: 25px;
  width: 100vw;
  height: 100vh;
  font-family: 'Karla';
  font-weight: 700;
  color: black;
}

/*=============== MAIN CONTAINER ===============*/

main{
  background-color: #e6e6e6;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
  border-radius: .5rem;
}

.dice-container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.roll-button{
  background-color: #5035FF;
  color: white;
  font-size: 1.2rem;
  padding: 8px 20px;
  border: none;
  border-radius: .3rem;
  margin-bottom: .5rem;
}
.title{
  margin-top: .6rem;
  font-size: 1.6rem;
}
.instructions{
  font-size: .7rem;
  margin: 0 10px;
}
.count-roll{
  font-size: 1.1rem;
}
.timer{
  font-size: 1.1rem;
}
.start-menu{
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  margin-top: .8rem;
}
.high-score{
  margin-top: .2rem;
  font-size: 1.35rem;
}
/*=============== DIE ===============*/

.dice{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 65px;
  height: 65px;
  background-color: #FFFFFF;
  margin: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 2rem;
  border-radius: 8%;
  padding: 6px;
  place-self: center;
}

.dice.held{
  background-color: #59E391;
}


.dot{
  background-color: black;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  place-self: center;
}
.top{
  grid-row-start: 1;
}
.center{
  grid-row-start: 2;
}
.bottom{
  grid-row-start: 3;
}
.left{
  grid-column-start: 1;
}
.middle{
  grid-column-start: 2;
}
.right{
  grid-column-end: -1;
}
/*=============== BREAKPOINTS ===============*/
@media only screen and (min-width: 500px) {
  .dice-container{
    grid-template-columns: repeat(5, 1fr);
    max-width: 650px;
    max-height: 280px;
    margin-bottom: 1rem;
  }
  .dice{
    margin: 5px;
    width: 80px;
    height: 80px;
  }
  .dot{
    width: 15px;
    height: 15px;
  }
  .roll-button{
    padding: 10px 24px;
    font-size: 22px;
  }
  .instructions{
    font-size: 1rem;
    margin: 0 1rem;
  }
  .title{
    font-size: 2rem;
    margin-bottom: .4rem;
  }
  .start-menu{
    gap: 2rem;
  }
  .count-roll{
    font-size: 1.5rem;
  }
  .timer{
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1000px) {
  .main-body{
    padding: 2.5rem;
  }
  main{
    border-radius: .4rem;
  }
  .instructions{
    font-size: 1.2rem;
  }
  .title{
    font-size: 2.2rem;
  }
  .timer{
    font-size: 2rem;
  }
  .count-roll{
    font-size: 2rem;
  }
}
