@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla:wght@700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
}

/*=============== BASE ===============*/

.main-body{
  background-color: #0B2434;
  padding: 25px;
  width: 100vw;
  height: 100vh;
  font-family: 'Karla';
  font-weight: 700;
}

/*=============== MAIN CONTAINER ===============*/

main{
  background-color: #F5F5F5;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
  border-radius: .5rem;
}

.dice-container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.roll-button{
  background-color: #5035FF;
  color: white;
  font-size: 1.4rem;
  padding: 10px 20px;
  border: none;
  border-radius: .3rem;
  margin-bottom: .5rem;
}

/*=============== DIE ===============*/

.dice{
  display: flex;
  padding: 15px;
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
  margin: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 2rem;
  border-radius: 8%;
}

.dice.held{
  background-color: #59E391;
}
/*=============== BREAKPOINTS ===============*/

